/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');
/* Asterik wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header {
    background-color: white;
    width: 100%;
    position: fixed;
    padding: 0;
    box-shadow: 0 2px 2px black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-height: 120px;

    }
#logo {
    height: 120px;
    width: 120px;
}
header a {
    text-decoration: none;
}
#menu {
    font-size: 20px;
}
#menu > li {
    margin-bottom: 0.5em;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-left: 10px;
}
.active {
    font-weight: bold;
}
/* Navbar dropdown toggle */
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
}
/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}
/* Main content */
main {
    background-color: #BEE3BA;
    flex: 1 0 auto;
    margin-top: 124px;
}
/* Footer */
footer {
    background-color: #ddf2d1;
}
/* Media query for tablets and larger (768px and up) */
@media screen and (min-width:768px) {
    /* Header */
nav {
    display: block;
    box-shadow: none;
    width: fit-content;
    position: relative;
    padding-right: 1rem;
}

#menu {
    display:flex;
}
menu > li {
    padding-left: 1rem;
}
.nav-toggle-label {
    display: none;
}
#logo {
    height:150px;
    width: 150px;
}
header {
    max-height: 154px;
}
/* Main content */
main {
    /* Push main content down to accomodate larger header and logo */
    margin-top: 154px;
}
   
}
/* Large screens (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px){
    #menu a:hover{
        color: red;
        font: bold;
    }
    #logo {
        height: 200px;
        width: 200px;
    }
    header {
        max-height: 204px;
    }
    /* Main content */
    main {
        /* Push main content down to accomodate larger header and logo */
        margin-top: 204px;
    }
    
}