
/* Asterik wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
}

/* Header */
header {
    background-color: white;
    width: 100%;
    position: fixed;
    padding: 0;
    box-shadow: 0 2px 2px black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    }
#logo {
    height: 120px;
    width: 120px;
}
header a {
    text-decoration: none;
}
#menu {
    font-size: 20px;
}
#menu > li {
    margin-bottom: 1em;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;

}
.active {
    font-weight: bold;
}
/* Navbar dropdown toggle */
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
}
/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
.nav-toggle-label {
    font-size: 2rem;
}
/* Main content */
main {
    background-color: #BEE3BA;
    flex: 1 0 auto;
}
/* Footer */
footer {
    background-color: #ddf2d1;
}