/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');
/* Asterik wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3 {
    font-family: 'Oswald' , sans-serif;
}

/* Header */
header {
    background-color: white;
    width: 100%;
    position: fixed;
    padding: 0;
    box-shadow: 0 2px 2px black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    z-index: 99;
    }
#logo {
    width: 15%;
    padding: 1%;
}
header a {
    text-decoration: none;
}
#menu {
    font-size: 20px;
    
}
#menu > li {
    margin-bottom: 0.5em;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding-right: 20px;
    padding-left: 10px;
}
.active {
    font-weight: bold;
}
/* Navbar dropdown toggle */
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
}
/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;       
}
/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 60px;
}
#about-yoga {
    margin-left: 3%;
    margin-right: 3%;
}
/* text center class added to align any element in the center of the page */
.text-center {
    text-align: center;
    color: #009dc4;
}
/* Hero section */
#hero {
    height: 750px;
    width: 100%;
    background: url("../images/heroimage.jpg") no-repeat center center/cover;
}
#cover-text {
    background-color: rgba(13, 180, 185, 0.5);
    width: 70%;
    position: absolute;
    font-size: 100%;
    min-height: 100px;
    margin-top: 30px;   
}
#cover-text > h2, #cover-text > h3 {
    padding-left: 20px;
    padding-top: 10px;
    color: #06402B;
}
/* Contact-form section */
/* Display flex added to align the form in the center of the screen */
#contact-form-section {
    display: flex;
    justify-content: center;
}
/* Styled form to match header and footer colors */
#contact-form { 
    border-radius: 5px;
    margin: 30px;
    background-color: rgba(13, 180, 185, 0.5);
    padding: 20px;    
    width: 700px;
}

#fname, #lname, #email {
    width: 90%;
    height: 50px;
    border: 1px solid #06402B;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px;
}
#message {
    padding: 10px;
    width: 90%;
    height: 200px;
}
#contact-form button {
    background-color: white;
    padding: 12px;
    border: solid;
    border-style: groove;
    border-radius: 3px;
    cursor: pointer;
}
#contact-form button:active {
    background-color: red;
} 
/* Courses page */
#courses {
    padding-left: 10px;
    padding-right: 10px;
}
#courses > section {
    background-color: #CEEDED;
}
.yoga-class-image {
    text-align: justify;
}
.yoga-class-image img {
    display: block;
    margin: 0 auto;
    width: 50%;   
}
.asana-image {
    text-align: justify;
}
.asana-image img {
    display:block;
    margin: 0 auto;
    width: 55%;
}
.stretching-image {
    text-align: justify;
}
.stretching-image img {
    display:block;
    margin: 0 auto;
    width: 50%;
}
.yoga-pose-image {
    text-align: justify;
}
.yoga-pose-image img {
    display: block;
    margin: 0 auto;
    width: 55%;
}
.aerial-yoga-image {
    text-align: justify;
}
.aerial-yoga-image img {
    display: block;
    margin: 0 auto;
    width: 40%;
}
/* Gallery page */

#photos img {
width: 100%;
line-height: 1em;
}
#photos {
    line-height: 0;
}

/* Calender page */
#schedule {
    background-color: white;
    /* Makes it responsive without using media-query */
    display: flex;
    flex-wrap: wrap;
}
#schedule div {
    text-align: center;
    background-color: #ffe5ec;
    /* Each div will expand to fill the space in its rows */
    padding: 10px;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}
/* Changing the color of headings to match it to footer and have contrast to background color */
#schedule h3 {
    color:#009dc4;
}
.bright {
    color: #fb6f92;
}

/* Thank you page */

#thankyou {
    padding-top: 10%;
}
#thankyou > p {
    padding-left: 3%;
    padding-right: 3%;
}

/* Footer */
footer {
    background-color: rgba(13, 180, 185, 0.5); 
    display: flex;
    width: 95%;
    margin: 0 auto 0 auto;
    border-radius: 5px;
    box-shadow: 3px 3px 5px;
    flex-shrink: 0;

}
.contact {
    width: 50%;
    float: left;
    font-size: smaller;
    margin-top: 2%;
}
.text-right {
    width: 50%;
    float: right;
    font-size: smaller;
    margin-top: 2%;
}
#social-media {
    text-align: justify;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 20px;
}
/* Media query for mobile phones (min-width: 320px) and (max-width: 767px) */
@media screen and (min-width: 320px) and (max-width: 767px) {
   /* Header */
    /* Giving border to dropdown menu  and aligning it to the right side */
    #menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
    background-color: #f1f1f1;
    margin-top: 60px; 
    margin-left: 40%;
    }
}
/* Media query for large and landscape phones (400px and up) */
@media screen and (min-width:400px) {
    /* Main content */
    /* Push main content down to accomodate larger header and logo */
    main {
        margin-top: 65px;
    }   
}
/* Media query for large and landscape phones (576px and up) */
@media screen and (min-width:576px) {
    /* Main content */
     /* Push main content down to accomodate larger header and logo */
main {
    margin-top: 90px;
}
/* Gallery page */
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}
/* Media query for tablets and larger (768px and up) */
@media screen and (min-width:768px) {
    /* Header */
nav {
    display: block;
    box-shadow: none;
    width: fit-content;
    position: relative;
    padding-right: 1rem;
}
#menu {
    display: flex;
}
menu > li {
    padding-left: 1rem;
}
.nav-toggle-label {
    display: none;
}
/* Main content */
main {
    /* Push main content down to accomodate larger header and logo */
    margin-top: 60px;
}
/* Hero section */
#cover-text {
    width: 50%;
    min-height: 120px;
}
#cover-text > h2, #cover-text > h3 {
    font-size: 30px;
}
/* Courses page */
.text-center {
    font-size: 40px;
}
main p {
    font-size: 20px;
}
main h3 {
    font-size: 30px;
}
main h2 {
    font-size: 40px;
}
 /* Footer */
 .contact {
    width: 70%;
    float: left;
    padding-left: 2%;
    padding-top: 1%;
    font-size: 20px;
 }
 #social-media {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
 } 
 .text-right {
    width: 30%;
    float: right;
    padding-left: 2%;
    padding-top: 2%;
    padding-right: 2%;
 }
 /* Gallery page */
 #photos {
    column-count: 3;  
 }
}
/* Large screens (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px){
    #menu a:hover{
        color: red;
        font: bold;
    }
    /* Main content */
    main {
        /* Push main content down to accomodate larger header and logo */
        margin-top: 90px;
    }
    /* Hero section */
    #cover-text {
        width: 40%;
    }
/* Courses page section */

 /* Footer */
 .contact {
    margin-top: auto;
    font-size: 15px;
 }
 .text-right {
    font-size: 15px;
    margin-top: auto;
 }  
 #social-media {
    font-size: 20px;
 } 
 /* Gallery page */
 #photos {
    column-count: 4;
 }
}
/* Large screens (laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px){
/* Main content */
/* Push main content down to accomodate larger header and logo */
main {
    margin-top: 150px;
}
}